<body>
<h1>{{title}}</h1>
<section class = "todoapp" >
  <header class= "header">
    <label>Enter your tasks to do: </label>
    <input class ="new-todo" 
      placeholder="Add your activities here!!"
      autofocus=""
      (keyup.enter)= "addTodo()"
      [(ngModel)] = "newTodo.title">
  </header>
</section>
<section class= "main" *ngIf="todos.length > 0">
<table class= "table table-striped">
    <thead>
      <tr>
        <th>Items</th>
        <th>To do</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let todo of todos" [class.completed]= "todo.complete">
            <input class= "toggle" 
            type= "checkbox" 
            (click)="toggleTodoComplete(todo)" 
            [checked] = "todo.complete">
          <td><label>{{todo.title}}</label></td>
          <td><i *ngIf="todo.complete" class="myIcon fas fa-check-circle"></i></td>
        </tr>
      </tbody>
    </table>
  </section>
   <!-- This code allows the completed task to be crossed out. -->
     <section class= "main" *ngIf="todos.length > 0">
    <ul class = "todo-list">
      <li *ngFor ="let todo of todos" [class.completed]= "todo.complete">
        <div class= "view">
          <input class= "toggle" 
            type= "checkbox" 
            (click)="toggleTodoComplete(todo)" 
            [checked] = "todo.complete">
            <label>{{todo.title}} </label>
        </div>
      </li>
    </ul>
  </section> 

  <section class="footer">
  <footer class = "footer" *ngIf = "todos.length > 0" >
    <span class= "todo-count">
    <strong>{{getRemainingTodos()}}</strong>Left.      
    </span>
  </footer>
</section>

</body>
<router-outlet></router-outlet>
<!-- 
<span class= "todo-count">
    <strong>GetRemainingTodos(){{todos.length}}</strong>
    {{todos.length == 1 ? 'item' : 'items'}} left
  </span> -->
